/* here you can put your own css to customize and override the theme */
.page-header.navbar .page-logo .text-logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
    text-decoration:none;
}

.page-sidebar-closed .page-header.navbar .page-logo .text-logo {
    display: none;
}
.chosen-edit-image{
    height:108px;
    margin:0 auto;
}
.li-chosen-jq {
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom:15px;
    padding-bottom:10px;
}
.li-chosen-jq h5 {
    height:24px;
}
.bootstrap-tagsinput{
    width:100%;
}